<h1>Edit the article</h1>

<%= render 'form' %>

<%= link_to "Destory", article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %> |
<%= link_to "Return to Articles", articles_path %>
