@import 'bootstrap/dist/css/bootstrap';


html, body {
  height: 100%;
  background-color: lightgrey;
}

#logo {
   float: left;
   font-size: 1.7em;
   color: white;
   text-transform: uppercase;
   letter-spacing: -1px;
   font-weight: bold;
 }

 #page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

#home_top_block {
  background-image: asset-url("home_bg.jpeg");
  margin-top: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

.nav-link {
  color: white !important;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
